.form {
  width: 350px;
  max-width: 100%;
  margin-bottom: var(--space-big);
  padding: var(--space-medium) var(--space-medium);
  background-color: rgb(246, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form label {
  font-size: var(--text-paragraph-mobile);
  margin: var(--space-small) 0;
}

.form input {
  width: 350px;
  max-width: 100%;
  height: 30px;
}

.form input[type="submit"] {
  background: none;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 350px;
  background-color: var(--color-blue);
  color: white;
  margin: var(--space-big) 0;
  cursor: pointer;
}

.time-slot {
  width: 350px;
  max-width: 100%;
  height: 30px;
}

.form .alert .error {
  background-color: rgb(251, 176, 176);
}

.form .alert ul {
  line-height: 2;
}

.form .alert li {
  background-color: rgb(251, 176, 176);
  list-style: none;
}

.form .success {
  background-color: rgb(220, 249, 176);
}

@media screen and (min-width: 750px) {
  .form {
    width: 100%;
    padding-left: 15%;
  }

  .form label {
    font-size: var(--text-paragraph-tablet);
    margin: var(--space-small) 0;
  }
}

@media screen and (min-width: 750px) {
  .form label {
    font-size: var(--text-paragraph);
    margin: var(--space-medium) 0;
  }
}
