.contact {
  width: 100vw;
  height: auto;
  overflow: auto;
  padding: var(--space-medium) var(--space-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.contact .working-hours,
.contact .address {
  width: 100%;
  margin: var(--space-big) 0;
  padding: var(--space-medium) var(--space-medium);
  background-color: var(--color-pale-beet);
  text-align: center;
}

.contact .working-hours p {
  margin-bottom: 16px;
}

.contact h3 {
  text-align: center;
  margin-bottom: var(--space-medium);
}

.contact .map {
  width: 100%;
  height: 600px;
  border: 2px solid var(--color-blue);
  border-radius: 20px;
}

.map img {
  border-radius: 20px;
  object-fit: cover;
}

@media screen and (min-width: 750px) {
  .contact {
    display: block;
  }

  .contact .working-hours,
  .contact .address {
    width: 100%;
    padding-left: 15%;
    text-align: left;
  }

  .contact h3 {
    text-align: left;
    margin-bottom: var(--space-medium);
  }
}

@media screen and (min-width: 1000px) {
  .contact .map {
    width: 70%;
    margin: auto;
  }
}
