.categories-summary {
  height: auto;
  overflow: auto;
  padding: 0 var(--space-medium);
}

/*Tablets*/

@media screen and (min-width: 750px) {
  .categories-summary {
    padding: 0 var(--space-big);
  }
}

/*Laptops*/

@media screen and (min-width: 1000px) {
  .categories-summary {
    padding: 0 var(--space-big);
    max-width: 960px;
    margin: auto;
  }
}
