/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@900&display=swap");

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2 {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--color-beet);
  text-transform: uppercase;
}

h1 {
  -webkit-text-stroke: var(--color-pale-beet) 3px;
}

h2 {
  -webkit-text-stroke: var(--color-pale-beet) 2px;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.3;
}

/*Tablets*/
@media screen and (min-width: 750px) {
  p {
    font-size: 18px;
    line-height: 1.4;
  }
}

/*Laptops*/

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 165px;
  }

  h2 {
    font-size: 65px;
  }

  h3 {
    font-size: 26px;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
  }
}
